#container-scene .container-grid {
	display: grid;
	grid-template-columns: repeat(160, minmax(0, 1fr));
	grid-template-rows: repeat(90, minmax(0, 1fr));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	aspect-ratio: 16 / 9;
	width: 100%;
	background-color: aliceblue;
	border: 1px solid grey;
}

#container-scene .container-grid > * {
	isolation: isolate;
}

#container-scene .background-carousel {
	display: grid;
	grid-area: 10 / 20 / span 70 / span 120;
	position: relative;
	border: thin white solid;

	place-content: center;
	overflow: hidden;
}

#container-scene .background-carousel-item {
	grid-area: 1 / 1;
	width: 100%;
	opacity: 0;
}
