.root-scene {
	position: relative;
	background-color: rgb(135, 222, 200);
	display: grid;
	grid-area: 1 / -1;
	min-height: 0;
	min-width: 0;
	container-type: size;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-clip: content-box; */
	background-origin: content-box;
}
.bg-sprite {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/* background-clip: content-box; */
	background-origin: content-box;
}
