.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-clip: content-box; */
	background-origin: content-box;
}
.bg-sprite {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/* background-clip: content-box; */
	background-origin: content-box;
}

.bg-picture {
	/* min-width: 100%; */
	width: 100%;
	height: 100%;
}

.ed-video {
	width: 100%;
	height: 100%;
	display: block;
}
