.root-scene {
	position: relative;
	background-color: rgb(135, 222, 200);
	display: grid;
	grid-area: 1 / -1;
	min-height: 0;
	min-width: 0;
}

.bg-image {
	background-size: cover;
	background-position: center;
}
.bg-sprite {
	background-size: contain;
	background-position: center;
}

/* TESTS */

#capsule__4 #item__7 {
	/* equivalent x / y / width / height  */
	grid-area: 1 / 1 / span 1 / span 2;
}

#item__1,
#item__2 {
	grid-area: 1 / -1;
	background-size: cover;
	object-position: center;
	background-repeat: no-repeat;
}

#capsule__3,
#capsule__2 {
	overflow: hidden;
}

#capsule__2 {
	grid-area: 1/1;
	overflow: hidden;
}
#item__4 {
	grid-area: 1/2;
}
#item__3 {
	grid-area: 2/2;
}
